import type { NextPage } from "next";
import { Test } from "../components/index";

const Home: NextPage = () => {
	return (
		<div>
			<main>
				<Test/>
			</main>
		</div>
	);
};

export default Home;
